<div [formGroup]="form" *ngIf="form" style="text-align: center">
  <div>
    <mat-form-field appearance="standard" style="width: 500px; max-width: 100%">
      <mat-label>This is placeholder 1</mat-label>
      <app-advanced-search-multi-select
        [formControl]="form.get('selectSearch')"
        [options]="selectSearchOptions"
      ></app-advanced-search-multi-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard" style="width: 500px; max-width: 100%">
      <mat-label>This is placeholder 2</mat-label>
      <app-advanced-range-numbers
        [formControl]="form.get('rangeNumber')"
        [min]="0"
        [max]="500"
        [labelMin]="'From'"
        [labelMax]="'To'"
      ></app-advanced-range-numbers>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard" style="width: 500px; max-width: 100%">
      <mat-label>This is placeholder 3</mat-label>
      <app-advanced-labled-range-select
        [formControl]="form.get('rangeLabel')"
        [options]="rangeLabelOptions"
        [labelMin]="'From'"
        [labelMax]="'To'"
      ></app-advanced-labled-range-select>
    </mat-form-field>
  </div>
</div>
